<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amigo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/Free_Sample_By_Wix-removebg-preview.png">
</head>

<body>
    <div class="nav">
        <h1>Amigo</h1>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Hey, everyone!</h1>
        <p class="lead">Welcome to Amigo, a fun social media website to share, post pictures, connect and talk to your
            friends and family.</p>
        <hr class="my-4">
        <p>Amigo allows you to connect with people around the world. Get started by creating an account or logging into
            an
            existing account.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/register" role="button"
                style="background-color: white; color: #274644; border: none; font-weight: 600;">Join Us!</a>
            <a class="btn btn-primary btn-lg ml-4" href="/login" role="button"
                style="background-color: white; color: #274644; border: none; font-weight: 600;">Log In</a>
        </p>
    </div>
    <div id="footer">
        <h1>Know more about <span class="amigo">Amigo</span></h1>
        <div id="footercontent">
            <div class="mycard">
                <div id="cardimg">
                    <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aHVtYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80"
                        alt="Image error">
                </div>
                <div id="cardcontent">
                    <h3 class="heading">Post</h3>
                    <p class="info">Amigo allows you to post pictures along with captions. Share your thoughts, ideas,
                        pictures
                        from your trips, etc. with your friends and family!</p>
                </div>
            </div>
            <div class="mycard">
                <div id="cardimg">
                    <img src="https://i.pinimg.com/originals/e3/1b/75/e31b752875679b64fce009922f9f0dda.gif"
                        alt="Image error">
                </div>
                <div id="cardcontent">
                    <h3 class="heading">Live Chat</h3>
                    <p class="info">With Amigo, you can chat with the other users on the platform.</p>
                </div>
            </div>
            <div class="mycard">
                <div id="cardimg">
                    <img src="https://dspncdn.com/a1/media/692x/df/d5/a2/dfd5a2b4e8e40318a0ced3e97cfbbe28.jpg"
                        alt="Image error">
                </div>
                <div id="cardcontent">
                    <h3 class="heading">My profile</h3>
                    <p class="info">In Amigo, you have your own profile page where you can add your bio and display
                        picture. This page also allows you to edit your profile and post a new picture along with a
                        caption.</p>
                </div>
            </div>
            <div class="mycard">
                <div id="cardimg">
                    <img src="https://themontclarion.org/wp-content/uploads/2019/03/social-media-1405601_1280.png"
                        alt="Image error">
                </div>
                <div id="cardcontent">
                    <h3 class="heading">Connect with the world</h3>
                    <p class="info">Amigo allows you to connect with the world by posting pictures, sharing your stories
                        with different people around the world and talking to your friends and family.</p>
                </div>
            </div>
            <div class="mycard">
                <div id="cardimg">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5xfW4Ue1il1rWpZDl7NXZk54XCgrNi17PPA&usqp=CAU"
                        alt="Image error">
                </div>
                <div id="cardcontent">
                    <h3 class="heading">Like Posts</h3>
                    <p class="info">With Amigo, you can like your friend's and family's posts and interact with them.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>