<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Sent</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/Free_Sample_By_Wix-removebg-preview.png">
    <link rel="stylesheet" href="/stylesheets/mailsent.css">
</head>

<body>
    <div id="background">
        <nav>
            <a href="/timeline">
                <div id="logo">Amigo</div>
            </a>
        </nav>
        <h1>Mail Successfully Sent!</h1>
        <a href="/">
            <button>Back to Home</button>
        </a>
    </div>
</body>

</html>