<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Now</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/Free_Sample_By_Wix-removebg-preview.png">
    <link rel="stylesheet" href="/stylesheets/postnow.css">
</head>

<body>
    <div id="background">
        <nav>
            <a href="/timeline">
                <div id="logo">Amigo</div>
            </a>
            <div id="links">
                <a href="/timeline">
                    <span><i class="ri-home-line"></i></span>
                </a>
                <a href="/postnow">
                    <span><i class="ri-add-circle-fill"></i></span>
                </a>
                <a href="/search">
                    <span><i class="ri-search-line"></i></span>
                </a>
                <a href="/chat">
                    <span><i class="ri-chat-1-line"></i></span>
                </a>
            </div>
            <a href="/profile">
                <div id="dp">
                    <img src="https://freepikpsd.com/wp-content/uploads/2019/10/default-profile-image-png-1-Transparent-Images.png"
                        alt="Image error">
                </div>
            </a>
        </nav>
        <div id="form">
            <h1>Post Now</h1>
            <form method="POST" action="">
                <label for="file">Choose Image</label>
                <input type="file" id="file">
                <br>
                <textarea placeholder="Enter caption"></textarea>
                <br>
                <input type="submit" value="POST">
            </form>
        </div>
    </div>
</body>

</html>