<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/Free_Sample_By_Wix-removebg-preview.png">
    <link rel="stylesheet" href="/stylesheets/search.css">
</head>

<body>
    <div id="background">
        <nav>
            <a href="/timeline">
                <div id="logo">Amigo</div>
            </a>
            <div id="links">
                <a href="/timeline">
                    <span><i class="ri-home-line"></i></span>
                </a>
                <a href="/postnow">
                    <span><i class="ri-add-circle-line"></i></span>
                </a>
                <a href="/search">
                    <span><i class="ri-search-fill"></i></span>
                </a>
                <a href="/chat">
                    <span><i class="ri-chat-1-line"></i></span>
                </a>
            </div>
            <a href="/profile">
                <div class="dp">
                    <img src="<%=founduser.dp%>"
                        alt="Image error">
                </div>
            </a>
        </nav>
        <div id="searchbox">
            <form action="/searchprofile" method="POST">
                <input type="text" placeholder="Search User" name="username">
                <button><span id="one"><i class="ri-search-2-line"></i></span></button>
            </form>
        </div>
    </div>
</body>

</html>